@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Britanica';
    src: url("britanica/britanica-black.ttf") format('truetype');
}

.mainCont{
    margin-top: 10rem;
    width: 100vw;
    height: 65vh;
}

.wrapDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin-left: -9rem;

}

.firstDiv{
display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 2rem;
    margin-left: -5rem;
    gap: 9.20rem;
}

.greyDiv{
    background-color: #262650;
    width: 12rem;
    height: 12rem;
    border-radius: 10px;
}

.whiteDiv{
    background-color: white;
    width: 10rem;
    height: 13rem;
    border-radius: 10px;
    margin-left: -15rem;
    margin-top: 2rem;
    border: 3px solid pink;
}

.smallDiv{
    background-color: #FFFFFF;
    width: 7rem;
    height: 7rem;
    border-radius: 10px;
    border: 2px solid #394049;
    margin-left: -10rem;
    margin-top: 5rem;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
}

.lastDiv{
    width: 9rem;
    height: 5rem;
    background-color: #eaccd1;
    border-radius: 10px;
    border: 3px solid #e7a1b8;
    font-size: 12px;
    padding-left: 10px;
    margin-top: 13rem;
    margin-left: -30rem;
}

.secondDiv{
display: flex;
flex-direction: column;
margin-top: 2rem;
}

.secondDiv .create{
    color: #E6A782;
}

.wrapDiv .secondDiv h1{
    font-family: Britanica, cursive;
    color: #394049;

}
.secondDiv p{
    color: #394049;
}

.secondDiv ul li{
    color: #394049 ;
    padding-top: 15px;

}



@media (max-width: 1024px) {
    .wrapDiv {
        flex-direction: row;
        margin-left: 0;
    }

    .firstDiv {
        flex-direction: row;
        margin-left: 0;
        gap: 1.50rem;
    }

    .secondDiv p{
        font-size: 32px;
    }
    .secondDiv h1 {
        font-size: 5rem;
    }

    .secondDiv ul li{
        font-size: 30px;
    }

    .secondDiv{
        justify-content: center;
    }


    .greyDiv{
        width: 15rem;
        height: 12rem;
    }
    .whiteDiv {
        width: 15rem;
        height: 12rem;
        margin-left: 0;
    }

    .smallDiv {
        width: 15rem;
        height: 12rem;
        margin-left: 0;
        margin-top: 0;
        padding-top: 0;
        font-size: 20px;
    }

    .lastDiv {
        width: 14rem;
        height: 10rem;
        margin-top: 0;
        margin-left: 0;
        font-size: 17px;
        padding-left: 20px;
        padding-top: 20px;
    }
}

@media (max-width: 1200px){
    .wrapDiv {

        margin-left: 0;
    }

    .firstDiv {
        margin-left: 0;
        gap: 2rem;
    }

    .greyDiv, .whiteDiv, .smallDiv, .lastDiv {
        width: 80%;
        margin-left: 0;
    }

    .whiteDiv {
        margin-top: 1rem;
    }

    .smallDiv {
        margin-top: 2rem;
    }

    .lastDiv {
        margin-top: 3rem;
        margin-left: 0;
    }
}

@media (max-width: 768px) {


    .mainCont{
        margin-top: 31rem;
        height: auto;
        width: auto;

    }

    .wrapDiv{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: -5.41rem;
        padding-left: -4rem;

    }

    .firstDiv{
        justify-content: center;
        align-items: center;
        margin-left: 0;


    }

    .greyDiv, .whiteDiv, .smallDiv, .lastDiv{
       width: 50%;

    }


    .secondDiv{
       align-items: center;
       padding-left: 8rem;
        font-size: 15px;
    }



    .greyDiv{
        width: 10rem;
        height: 10rem;
    }

    .whiteDiv{
        width: 8rem;
        height: 11rem;
        padding-left: -18rem;
    }

    .smallDiv{
        background-color: #FFFFFF;
        width: 7rem;
        height: 7rem;
        margin-top: 7rem;
        font-size: 12px;
        padding-top: 5px;
    }

    .lastDiv{
        width: 9rem;
        height: 5rem;
        font-size: 12px;
        padding-left: 8px;
        margin-top: 10rem;
        margin-left: -26rem;
    }

    .secondDiv .activate {
        margin-left: -2.50rem;

    }

}

@media (max-width: 720px) {


    .mainCont{
        margin-top: 31rem;
        height: auto;
        width: auto;

    }

    .wrapDiv{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: -5.41rem;
        padding-left: -4rem;

    }

    .firstDiv{
        justify-content: center;
        align-items: center;
        margin-left: 0;


    }

    .greyDiv, .whiteDiv, .smallDiv, .lastDiv{
        width: 50%;

    }


    .secondDiv{
        align-items: center;
        padding-left: 8rem;
        font-size: 15px;
    }



    .greyDiv{
        width: 10rem;
        height: 10rem;
    }

    .whiteDiv{
        width: 8rem;
        height: 11rem;
        padding-left: -18rem;
    }

    .smallDiv{
        background-color: #FFFFFF;
        width: 7rem;
        height: 7rem;
        margin-top: 7rem;
        font-size: 12px;
        padding-top: 5px;
    }

    .lastDiv{
        width: 9rem;
        height: 5rem;
        font-size: 12px;
        padding-left: 8px;
        margin-top: 10rem;
        margin-left: -26rem;
    }

    .secondDiv .activate {
        margin-left: -2.50rem;

    }

}


