@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Britanica';
    src: url("britanica/britanica-black.ttf") format('truetype');
}

.mainCont{
    width: 100vw;
    height: 70vh;
    background-color: #FEF9F5;
    margin-top: -5rem;
}

.wrapperDiv{
    width: 70vw;
    height: 50vh;
    background-color: #333B46;
    border-radius: 15px;
    margin: 6rem 10rem 5rem 10rem;
    display: flex;
    flex-direction: row;
    gap: 5.50rem;
}
.firstDiv{
    display: flex;
    flex-direction: row;

}
.firstBox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 5rem;
    margin-top: 3rem;
}
.firstBox p{
    color: #B27456;
}

.firstBox h1{
    color: #E9ECEF;
    font-family: Britanica,cursive;
    font-size: 40px;
}

.firstBox button {
    width: 10.60rem;
    height: 2.50rem;
    border-radius: 7px;
    border: 2px solid #e79b66;
    background-color: #DC8B5C;
    color: #FFFFFF;
    font-family: Britanica,cursive;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.diamonds{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 3.50rem;
}

.smallDiamond{
    width: 1.80rem;
    height: 2.50rem;
}
.bigDiamond{
    width: 3.80rem;
    height: 5rem;
}

.secondDiv{
    background-color: #FBFCFE;
    width: 16rem;
    height: 23.60rem;
    border-radius: 30px;
    border: 3px solid #f3dde2;
    margin-top: -3rem;
}

.secondDiv img {
    width: 16rem;
    height: 19.60rem;
    border-radius: 30px;
}

@media (max-width: 728px){

    .mainCont{
        width: auto;
        height: auto;
        margin-top: -5rem;
    }

    .wrapperDiv{
        width: 90vw;
        height: auto;
        border-radius: 15px;
        margin-left: 1rem;
        margin-right: 1rem;
        flex-direction: column;
        gap: 2rem;
    }

    .firstDiv{
        gap: 2rem;
    }

    .firstBox{
        margin-left: 2rem;
        margin-top: 1.50rem;
    }


    .firstBox h1{
        color: #E9ECEF;
        font-family: Britanica,cursive;
        font-size: 30px;
    }

    .firstBox button {
        width: 8rem;
        height: 2.50rem;
    }
    .diamonds{
        display: flex;
        flex-direction: row;
        gap: 1.50rem;

    }

    .secondDiv{
        width: 16rem;
        height: 15rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
       background-color: #E9ECEF;
        border: 1px solid peru;
    }

    .secondDiv img {
        width: 16rem;
        height: 12rem;
        border-radius: 30px;
    }
}